#!/bin/bash

%{ for tenant in tenant_list }
ES_PASSWORD=$(aws kms decrypt --key-id ${kms_key_id} --ciphertext-blob ${encrypted_password_payload} --region eu-west-2 | jq '.Plaintext' -r | base64 -d) 
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_opendistro/_security/api/tenants/${tenant}" -H 'Content-Type: application/json' -d '
{
  "description": "A kibana tenant for the ${tenant} team."
}
'
%{ endfor ~}
