#!/bin/bash

curl -XPUT -u "${es_user}:${es_pass}" "https://${aws_es_endpoint}/_template/acp-template" -H 'Content-Type: application/json' -d '
{
    "index_patterns" : ["*"],
    "settings" : {
        "number_of_shards": "${index_shard_count}",
        "refresh_interval": "${index_refresh_interval}",
        "number_of_replicas": "${index_replica_count}"
    }
}
'

curl -XPUT -u "${es_user}:${es_pass}" "https://${aws_es_endpoint}/_opendistro/_ism/policies/acp-ism-policy" -H 'Content-Type: application/json' -d '
{
    "policy": {
        "description": "ism policy to rollover/delete indices breaching a certain size or time. rollover defaults to 75GB and 1 day old. Delete defaults  to 7 days",
        "default_state": "hot",
        "states": [
        {
            "name": "hot",
            "actions": [
                {
                    "rollover": {
                        "min_size": "${index_rollover_size}",
                        "min_index_age": "${index_rollover_age}"
                    }
                }
            ],
            "transitions": [
                {
                    "state_name": "delete",
                    "conditions": {
                        "min_index_age": "${index_retention}"
                    }
                }
            ]
        },
        {
            "name": "delete",
            "actions": [
                {
                    "delete": {}
                }
            ],
            "transitions": []
        }
    ],
        "ism_template": {
            "index_patterns": [
                "*"
            ]
        }
    }
}
'


%{ for index in index_list }
  curl -XPUT -u "${es_user}:${es_pass}" "https://${aws_es_endpoint}/${index}-000001"
  curl -XPUT -u "${es_user}:${es_pass}" "https://${aws_es_endpoint}/${index}-000001/_aliases/${index}" -d '{ "is_write_index" : "true" }' -H 'Content-Type: application/json'
  curl -XPUT -u "${es_user}:${es_pass}" "https://${aws_es_endpoint}/${index}/_settings" -d '{"opendistro.index_state_management.rollover_alias": "${index}" }' -H 'Content-Type: application/json'
%{ endfor ~}

