#!/bin/bash
echo ${encrypted_password_payload} | base64 -d > encrypted-file
ES_PASSWORD=$(aws kms decrypt --ciphertext-blob fileb://encrypted-file --query Plaintext --output text | base64 -d)
%{ if length(large_index_list) != 0 }
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_opendistro/_ism/policies/large-index-policy" -H 'Content-Type: application/json' -d '
{
    "policy": {
        "description": "Rollover at ${large_index_rollover_size}GB and ${large_index_rollover_age} day(s) old. Delete at ${large_index_retention} days",
        "default_state": "hot",
        "states": [
        {
            "name": "hot",
            "actions": [
                {
                    "rollover": {
                        "min_size": "${large_index_rollover_size}",
                        "min_index_age": "${large_index_rollover_age}"
                    }
                }
            ],
            "transitions": [
                {
                    "state_name": "delete",
                    "conditions": {
                        "min_index_age": "${large_index_retention}"
                    }
                }
            ]
        },
        {
            "name": "delete",
            "actions": [
                {
                    "delete": {}
                }
            ],
            "transitions": []
        }
    ],
        "ism_template": {
            "index_patterns": [
                ${join(", ", formatlist("\"%s*\"", large_index_list))}
            ]
        }
    }
}
'
%{ endif }

%{ if length(medium_index_list) != 0 }
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_opendistro/_ism/policies/medium-index-policy" -H 'Content-Type: application/json' -d '
{
    "policy": {
        "description": "Rollover at ${medium_index_rollover_size}GB and ${medium_index_rollover_age} day(s) old. Delete at ${medium_index_retention} days",
        "default_state": "hot",
        "states": [
        {
            "name": "hot",
            "actions": [
                {
                    "rollover": {
                        "min_size": "${medium_index_rollover_size}",
                        "min_index_age": "${medium_index_rollover_age}"
                    }
                }
            ],
            "transitions": [
                {
                    "state_name": "delete",
                    "conditions": {
                        "min_index_age": "${medium_index_retention}"
                    }
                }
            ]
        },
        {
            "name": "delete",
            "actions": [
                {
                    "delete": {}
                }
            ],
            "transitions": []
        }
    ],
        "ism_template": {
            "index_patterns": [
                ${join(", ", formatlist("\"%s*\"", medium_index_list))}
            ]
        }
    }
}
'
%{ endif }

%{ if length(small_index_list) != 0 }
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_opendistro/_ism/policies/small-index-policy" -H 'Content-Type: application/json' -d '
{
    "policy": {
        "description": "Rollover at ${small_index_rollover_size}GB and ${small_index_rollover_age} day(s) old. Delete at ${small_index_retention} days",
        "default_state": "hot",
        "states": [
        {
            "name": "hot",
            "actions": [
                {
                    "rollover": {
                        "min_size": "${small_index_rollover_size}",
                        "min_index_age": "${small_index_rollover_age}"
                    }
                }
            ],
            "transitions": [
                {
                    "state_name": "delete",
                    "conditions": {
                        "min_index_age": "${small_index_retention}"
                    }
                }
            ]
        },
        {
            "name": "delete",
            "actions": [
                {
                    "delete": {}
                }
            ],
            "transitions": []
        }
    ],
        "ism_template": {
            "index_patterns": [
                ${join(", ", formatlist("\"%s*\"", small_index_list))}
            ]
        }
    }
}
'
%{ endif }

%{ for index in large_index_list }
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_template/${index}-template" -H 'Content-Type: application/json' -d '
{
    "index_patterns" : ["${index}-*"],
    "settings" : {
        "number_of_shards": "${large_index_shard_count}",
        "refresh_interval": "${large_index_refresh_interval}",
        "number_of_replicas": "${large_index_replica_count}",
        "opendistro.index_state_management.rollover_alias": "${index}",
        "index.mapping.total_fields.limit" : "${large_index_field_limit}",
        "index.mapping.total_fields.limit" : "${large_index_max_docvalue_fields_search}"
    }
}
'
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/${index}-000001"
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/${index}-000001/_aliases/${index}" -d '{ "is_write_index" : "true" }' -H 'Content-Type: application/json'
curl -XPOST -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_opendistro/_ism/add/${index}" -d '{"policy_id": "large-index-policy"}'  -H 'Content-Type: application/json'
%{ endfor ~}

%{ for index in medium_index_list }
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_template/${index}-template" -H 'Content-Type: application/json' -d '
{
    "index_patterns" : ["${index}-*"],
    "settings" : {
        "number_of_shards": "${medium_index_shard_count}",
        "refresh_interval": "${medium_index_refresh_interval}",
        "number_of_replicas": "${medium_index_replica_count}",
        "opendistro.index_state_management.rollover_alias": "${index}",
        "index.mapping.total_fields.limit" : "${medium_index_max_docvalue_fields_search}"
    }
}
'
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/${index}-000001"
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/${index}-000001/_aliases/${index}" -d '{ "is_write_index" : "true" }' -H 'Content-Type: application/json'
curl -XPOST -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_opendistro/_ism/add/${index}" -d '{"policy_id": "medium-index-policy"}'  -H 'Content-Type: application/json'
%{ endfor ~}

%{ for index in small_index_list }
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_template/${index}-template" -H 'Content-Type: application/json' -d '
{
    "index_patterns" : ["${index}-*"],
    "settings" : {
        "number_of_shards": "${small_index_shard_count}",
        "refresh_interval": "${small_index_refresh_interval}",
        "number_of_replicas": "${small_index_replica_count}",
        "opendistro.index_state_management.rollover_alias": "${index}",
        "index.mapping.total_fields.limit" : "${small_index_max_docvalue_fields_search}"
    }
}
'
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/${index}-000001"
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/${index}-000001/_aliases/${index}" -d '{ "is_write_index" : "true" }' -H 'Content-Type: application/json'
curl -XPOST -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_opendistro/_ism/add/${index}" -d '{"policy_id": "small-index-policy"}'  -H 'Content-Type: application/json'
%{ endfor ~}
