#!/bin/bash

%{ for tenant in tenant_list }
echo ${encrypted_password_payload} | base64 -d > encrypted-file
ES_PASSWORD=$(aws kms decrypt --key-id ${kms_key_id} --ciphertext-blob fileb://encrypted-file --query Plaintext --output text | base64 -d)
curl -XPUT -u "${es_user}:$ES_PASSWORD" "https://${aws_es_endpoint}/_opendistro/_security/api/tenants/${tenant}" -H 'Content-Type: application/json' -d '
{
  "description": "A kibana tenant for the ${tenant} team."
}
'
%{ endfor ~}
